[submodule "third_parties/imgui"]
	path = third_parties/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_parties/stb"]
	path = third_parties/stb
	url = https://github.com/nothings/stb.git
